@import "_nullstyle";

@font-face {
   font-family: "Golos";
   src: url("../font/golos-text_bold.woff2") format("woff2"), url("../font/Golos-Text_Bold.woff") format("woff");
   src: local("Golos Text Bold"), local("Golos-Text_Bold");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Golos";
   src: url("../font/golos-text_demibold.woff2") format("woff2"), url("../font/golos-text_demibold.woff") format("woff");
   src: local("Golos Text Demibold"), local("Golos-Text_Demibold");
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: "Golos";
   src: url("../font/Golos-Text_Regular.woff2") format("woff2"), url("../font/Golos-Text_Regular.woff") format("woff");
   src: local("Golos Text Regular"), local("Golos-Text_Regular");
   font-weight: 400;
   font-style: normal;
}

body {
   font-family: "Golos";
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 1.6;
   background: #1f1f25;
}
h1 {
   font-family: "Golos";
   font-weight: 700;
   font-size: 60px;
   line-height: 1.1;
}
.container {
   max-width: 1240px;
   margin: 0px auto;
   // position: relative;
}
.header {
   .burger {
      display: flex;
      align-items: center;
   }
   .msgrs {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
         display: flex;
         align-items: center;
      }
   }
   .enter {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 32px;
      gap: 10px;

      width: 107px;
      height: 37px;

      background: #ffffff;

      border: 1px solid #ffffff;
      border-radius: 36px;
   }
   .nav {
      a {
         font-weight: 400;
         font-size: 14px;
         line-height: 120%;
         letter-spacing: 0.01em;

         color: #d5d5d5;
      }
      ul {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 30px;
      }
   }
   .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   padding: 21px 0px;
}

.intro {
   position: relative;
   height: 664px;
   .pagination {
      width: 50px;
      position: absolute;
      right: 30px;
      top: 500px;
   }
   .circ-01 {
      width: 10px;
      height: 10px;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      left: 0;
   }
   .circ-02 {
      width: 10px;
      height: 10px;
      background: #708dd8;
      border-radius: 50%;
      position: absolute;
      left: 20px;
   }
   .circ-03 {
      width: 10px;
      height: 10px;
      background: #708dd8;
      border-radius: 50%;
      position: absolute;
      left: 40px;
   }
   .chat-wind {
      //background: #ec6f66;
      width: 330px;
      height: 320px;
      position: absolute;
      left: 21px;
      top: 108px;
      overflow: hidden;
   }
   .mess-win {
      position: absolute;
      left: -77px;
      top: 27px;
   }
   .card-6 {
      position: absolute;
      left: -84px;
      top: 251px;
   }
   .card-5 {
      position: absolute;
      left: 293px;
      top: 127px;
   }
   .card-4 {
      position: absolute;
      left: -16px;
      top: 34px;
   }
   .card-3 {
      position: absolute;
      left: -33px;
      top: 303px;
   }
   .card-2 {
      position: absolute;
      left: 160px;
      top: 108px;
   }
   .card-1 {
      position: absolute;
      left: -60px;
      top: 70px;
   }
   .animation {
      z-index: 999;
      width: 550px;
      position: absolute;
      right: 100px;
      top: 0px;
   }
   .container {
      position: relative;
   }
   .butt {
      margin: 40px 0px 0px 0px;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
      max-width: 350px;
      background: #2261eb;
      border-radius: 24px;
      padding: 22px 40px;
      color: #ffffff;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
   }
   .slider {
   }

   .slide {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      &.active {
         opacity: 1;
      }
   }

   .slider-controls {
      display: flex;
      gap: 20px;
      position: absolute;
      right: 0;
      top: 550px;
   }

   .slider-control {
      cursor: pointer;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .slider-control-next {
      transform: rotate(180deg);
   }
   .slider-control:hover {
   }

   .slide-content {
   }

   .text {
      max-width: 440px;
      p {
         font-size: 20px;
      }
   }
   .bott {
      color: #fff;

      h2 {
         margin: 0px 0px 10px 0px;
         font-weight: 600;
         font-size: 28px;
         line-height: 130%;
      }

      border-radius: 70px;
      padding: 50px 0px;
      height: 244px;
   }
   .slide-1 {
      .bott {
         background: linear-gradient(94.55deg, #6180d0 -15.93%, #b3c8ff 100%);
      }
   }
   .slide-2 {
      .bott {
         background: linear-gradient(138.05deg, #9796f0 0%, #fbc7d4 97.55%);
      }
   }
   .slide-3 {
      .bott {
         background: linear-gradient(138.53deg, #ec6f66 2.79%, #f3a183 99.4%);
      }
   }
   .top {
      height: 420px;
      h1 {
         max-width: 650px;
      }
      padding: 50px 0px;
      background: #fff;
      border-radius: 70px;
   }
}
.select-format {
   h3 {
      position: absolute;
      left: 20px;
      top: 20px;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      /* or 29px */

      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
      max-width: 135px;
   }
   .butt-06 {
      background: linear-gradient(135.9deg, #606c88 3.34%, #3f4c6b 97.78%);
   }
   .butt-05 {
      background: linear-gradient(138.53deg, #ec6f66 2.79%, #f3a183 99.4%);
   }
   .butt-04 {
      background: linear-gradient(146.84deg, #92cf97 0.01%, #6f9d72 90.48%);
   }
   .butt-03 {
      background: linear-gradient(139.22deg, #ee9ca7 1.77%, #ffdde1 97.6%);
   }
   .butt-02 {
      background: linear-gradient(137.84deg, #4e54c8 0%, #8f94fb 97.86%);
   }
   .butt-01 {
      background: linear-gradient(94.55deg, #6180d0 -15.93%, #b3c8ff 100%);
   }
   .png {
      position: absolute;
      left: 20%;
      bottom: 0;
      transition: 0.5s;
   }
   .svg {
      position: absolute;
      right: 30px;
      bottom: -50px;
      transition: 0.5s;
   }
   .butt {
      overflow: hidden;
      position: relative;
      width: 260px;
      height: 260px;
      border-radius: 30px;
      &:hover > .svg {
         bottom: 30px;
      }
      &:hover > .png {
         left: 0%;
         transform: scale(90%);
         bottom: -10px;
      }
   }
   .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 820px;
   }
   h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* or 58px */

      letter-spacing: 0.01em;

      /* update/black 100% */

      color: #1f1f25;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
   }
   padding: 60px 0px 80px 0px;
   background: #fff;
   border-radius: 70px;
}
.programm {
   .video {
      cursor: pointer;
   }
   p {
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      /* or 32px */

      /* update/black 100% */

      color: #1f1f25;
   }
   h3 {
      margin: 0px 0px 8px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 130%;
      /* or 36px */

      /* update/black 100% */

      color: #1f1f25;
   }
   .item {
      margin: 0px 0px 20px 0px;
      background: #f0f0f0;
      border-radius: 30px;
      padding: 42px 44px;
   }
   .info {
      max-width: 600px;
   }
   .wrapper {
      gap: 40px;
      display: flex;
      justify-content: space-between;
   }
   h2 {
      margin: 0px 0px 60px 0px;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* or 58px */

      letter-spacing: 0.01em;

      color: #1f1f25;
   }
   background: #ffffff;
   border-radius: 70px;
   padding: 60px 100px 80px;
}
.support {
   p {
      font-weight: 400;
      font-size: 17px;
      line-height: 160%;
      /* or 27px */

      color: #000000;

      opacity: 0.9;
   }
   h3 {
      margin: 16px 0px 16px 0px;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      /* or 29px */

      color: #000000;
      max-width: 280px;
   }
   .item {
      padding: 24px;
      width: 400px;
      height: 400px;
      background: #ffffff;
      border-radius: 30px;
      &.center {
         h3 {
            margin: 0px 0px 0px 0px;
            text-align: center;
            color: #ffffff;
         }
         display: flex;
         flex-direction: column;
         align-items: center;

         background: none;
         border: 1px solid #ffffff;
      }
   }
   .wrapper {
      flex-wrap: wrap;
      gap: 20px;
      display: flex;
      justify-content: space-between;
   }
   .subtitle {
      margin: 0px 0px 50px 0px;
      font-weight: 500;
      font-size: 28px;
      line-height: 160%;
      /* identical to box height, or 45px */

      /* update / white 100% */

      color: #ffffff;
   }
   h2 {
      margin: 0px 0px 20px 0px;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* identical to box height, or 58px */

      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
   }
   padding: 60px 0px 80px 0px;
   background: linear-gradient(146.84deg, #92cf97 0.01%, #6f9d72 90.48%);
   border-radius: 70px;
}
.integration {
   p {
      max-width: 554px;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      /* or 29px */

      /* update/black 100% */

      color: #1f1f25;
   }
   h3 {
      margin: 40px 0px 8px 0px;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      /* identical to box height, or 29px */

      letter-spacing: 0.01em;

      /* update/black 100% */

      color: #1f1f25;
   }
   .info {
      max-width: 660px;
   }
   h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* or 58px */

      letter-spacing: 0.01em;

      /* update/black 100% */

      color: #1f1f25;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
      gap: 58px;
      align-items: center;
   }
   padding: 124px 0px 124px 0px;
   background: #ffffff;
   border-radius: 70px;
}
.statistic {
   p {
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      margin: 6px 0px 0px 0px;

      /* update/black 100% */

      color: #1f1f25;
   }
   .unit {
      font-weight: 700;
      font-size: 56px;
      line-height: 130%;
      /* identical to box height, or 73px */

      letter-spacing: 0.01em;

      color: #d36251;
   }
   span {
      display: block;
      font-weight: 700;
      font-size: 140px;
      line-height: 110%;

      color: #d36251;
   }
   .item {
      background: #ffffff;
      border-radius: 60px;
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 24px 48px;
      width: 100%;
      max-width: 610px;
      min-height: 227px;
   }
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
   }
   .subtitle {
      text-align: center;
      margin: 20px 0px 60px 0px;
      font-weight: 500;
      font-size: 32px;
      line-height: 160%;
      /* or 51px */

      /* update / white 100% */

      color: #ffffff;
   }
   h2 {
      text-align: center;
      font-weight: 700;
      font-size: 56px;
      line-height: 130%;
      /* identical to box height, or 73px */

      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
   }
   padding: 60px 0px 80px 0px;
   background: linear-gradient(138.53deg, #ec6f66 2.79%, #f3a183 99.4%);
   border-radius: 70px;
}
.articles {
   .butt-more {
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
      margin: 40px auto 0px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 52px;
      background: #1f1f25;
      border-radius: 36px;
   }
   a {
      display: block;
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 30px;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
      gap: 20px;
   }
   .subtitle {
      margin: 20px 0px 60px 0px;
      font-weight: 400;
      font-size: 28px;
      line-height: 160%;
      /* identical to box height, or 45px */

      /* update/black 100% */

      color: #1f1f25;
   }
   h2 {
      max-width: 750px;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* or 58px */

      letter-spacing: 0.01em;

      /* update/black 100% */

      color: #1f1f25;
   }
   padding: 60px 0px 80px 0px;
   background: #ffffff;
   border-radius: 70px;
}
.faq {
   .answer-js {
      &.active {
         max-height: 1000px;
         transition: max-height 0.5s ease-in;
      }
      margin: 15px 0px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out;

      opacity: 0.7;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: #ffffff;
   }
   .question-js {
      position: relative;

      &.active {
         &::after {
            transform: rotate(45deg);
         }
      }
      &::after {
         content: "";
         position: absolute;
         right: 0;
         top: 0px;
         width: 25px;
         height: 25px;
         background: url("../img/answer.svg") no-repeat;
         transition: 0.5s;
      }
      cursor: pointer;
      padding: 0px 0px 24px 0px;
      border-bottom: 1px solid #ffffff;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */

      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
   }
   .subtitle {
      margin: 20px 0px 80px 0px;
      font-weight: 500;
      font-size: 32px;
      line-height: 160%;
      /* or 51px */

      /* update / white 100% */

      color: #ffffff;
   }
   h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* identical to box height, or 58px */

      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
   }
   padding: 60px 0px 80px 0px;
   background: linear-gradient(135.9deg, #606c88 3.34%, #3f4c6b 97.78%);
   border-radius: 70px;
}
.faq.functions {
   .answer-js {
      opacity: 1;
      color: #1f1f25;
   }
   .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
         max-width: 620px;
      }
   }
   .question-js::after {
      background: url("../img/answer-b.svg") no-repeat;
   }
   .question-js {
      border-bottom: 1px solid #d5d5d5;
   }
   h2,
   .question-js,
   .subtitle {
      color: #1f1f25;
   }
   background: #fff;
}
.quiz02 {
   .nd-button {
      background: #2261eb;
      border-radius: 24px;
      display: flex;
      gap: 22px;
      align-items: center;
      justify-content: center;
      padding: 28px 41px 28px 48px;
      font-weight: 500;
      font-size: 19px;
      line-height: 120%;
      color: #ffffff;
   }
   .next {
      p {
         a {
            color: #6688e1;
         }
         max-width: 360px;
         font-weight: 400;
         font-size: 16px;
         line-height: 150%;
         /* or 24px */

         letter-spacing: 0.01em;

         /* update / black_80% */

         color: rgba(31, 31, 37, 0.8);
      }
      display: flex;
      gap: 40px;
      align-items: center;
   }
   .input {
      &.name {
         width: 46%;
      }
      &.phone {
         width: 46%;
      }
      &.comment {
         width: 100%;
      }
      position: relative;

      input {
         width: 100%;
         padding: 16px 0px;
         font-weight: 400;
         font-size: 20px;
         line-height: 150%;
         /* identical to box height, or 30px */

         letter-spacing: 0.01em;

         /* update/gray */

         color: #000;
      }
      label {
         &::after {
            content: attr(data-label) "";
            display: block;
            position: absolute;
            top: -20px;
            left: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* identical to box height, or 24px */

            letter-spacing: 0.01em;

            /* update / black_80% */

            color: rgba(31, 31, 37, 0.8);
         }

         font-weight: 400;
         font-size: 16px;
         line-height: 150%;
         /* identical to box height, or 24px */

         letter-spacing: 0.01em;

         /* update / black_80% */

         color: rgba(31, 31, 37, 0.8);
      }
      border-bottom: 1px solid rgba(31, 31, 37, 0.8);
   }

   .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 70px;
      justify-content: space-between;
   }
   .subtitle {
      margin: 20px 0px 80px 0px;
      font-weight: 500;
      font-size: 28px;
      line-height: 160%;
      /* identical to box height, or 45px */

      /* update/black 100% */

      color: #1f1f25;
   }
   h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* or 58px */

      letter-spacing: 0.01em;

      /* update/black 100% */

      color: #1f1f25;
      max-width: 850px;
   }
   padding: 60px 0px 80px 0px;
   background: #ffffff;
   border-radius: 70px;
}
.footer {
   .right {
      display: flex;
      gap: 50px;
   }
   .soc {
      display: flex;
      justify-content: center;
      gap: 14px;
      margin: 16px 0px 0px 0px;
   }
   .enter {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.01em;
      color: #1f1f25;
      background: #ffffff;
      /* update / white 100% */

      border: 1px solid #ffffff;
      border-radius: 36px;
      padding: 10px 32px;
   }
   ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      a {
         font-weight: 400;
         font-size: 14px;
         line-height: 120%;
         letter-spacing: 0.01em;

         color: #d5d5d5;
         &:hover {
            text-decoration: underline;
         }
      }
   }
   span {
      display: block;
      margin: 20px 0px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.01em;

      color: #d5d5d5;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
   }
   padding: 24px 0px;
}
.reviews {
   .butt-more {
      cursor: pointer;
      width: 220px;
      height: 52px;
      margin: 40px auto 0px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
      background: #1f1f25;
      border-radius: 36px;
   }
   .rv-butt {
      cursor: pointer;
   }
   .wrapper {
      margin: 20px 0px 40px 0px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }
   .title {
      display: flex;
      gap: 40px;
   }
   .item {
      display: flex;
      flex-direction: column;
      .text {
         margin: 20px 0px 0px 0px;
         flex-grow: 1;
      }
      &:nth-child(even) {
         background: linear-gradient(134.39deg, rgba(226, 121, 112, 0.8) 1.09%, rgba(201, 99, 90, 0.8) 100.04%);
      }
      background: linear-gradient(134.39deg, rgba(112, 158, 226, 0.8) 1.09%, rgba(90, 108, 201, 0.8) 100.04%);
      border-radius: 30px;
      color: #ffffff;
      width: 400px;
      height: 400px;
      padding: 24px;
   }
   .items {
      display: flex;
      gap: 20px;
      justify-content: space-between;
   }
   .stars {
      display: flex;
      align-items: center;
      img {
         margin: 0px 8px 0px 16px;
      }
   }

   .rait {
      font-weight: 700;
      font-size: 32px;
      line-height: 130%;
      /* identical to box height, or 42px */

      letter-spacing: 0.01em;

      color: #062526;
   }
   .sub {
      margin: 20px 0px 40px 0px;
      font-weight: 500;
      font-size: 32px;
      line-height: 160%;

      color: #1f1f25;
   }
   h2 {
      font-weight: 700;
      font-size: 56px;
      line-height: 130%;
      letter-spacing: 0.01em;

      /* update/black 100% */

      color: #1f1f25;
   }
   padding: 60px 0px 80px 0px;
   background: #ffffff;
   border-radius: 70px;
}
.quiz01 {
   .anim {
      position: relative;
   }
   .anim-wind {
      position: absolute;
      left: 0;
      top: 80px;
      overflow: hidden;
      width: 350px;
      height: 330px;
   }
   .chat-dir {
      position: absolute;
      left: 0;
      top: 190px;
   }
   .wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .q-next {
      margin: 50px 0px 0px 0px;
      cursor: pointer;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;

      color: #ffffff;
      display: flex;
      justify-content: center;
      gap: 15px;
      align-items: center;
      width: 350px;
      height: 95px;
      background: #2261eb;
      border-radius: 24px;
   }
   .q-item {
      &.active {
         &::after {
            content: "";
            position: absolute;
            left: 30px;
            top: 30px;
            width: 20px;
            height: 20px;
            background: #6688e1;
            border-radius: 20px;
         }
      }
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: 25px;
         top: 25px;
         width: 30px;
         height: 30px;
         border-radius: 30px;

         border: 2px solid #6688e1;
      }
      cursor: pointer;
      width: 270px;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      /* or 25px */

      /* update/accent */

      color: #6688e1;
      padding: 24px 24px 24px 80px;
      background: #ffffff;
      border-radius: 30px;
   }
   .q-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
      gap: 36px;
   }
   .sub {
      margin: 40px 0px 50px 0px;
      font-weight: 500;
      font-size: 28px;
      line-height: 160%;
      /* identical to box height, or 45px */

      /* update / white 100% */

      color: #ffffff;
   }
   h2 {
      max-width: 790px;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* or 58px */

      letter-spacing: 0.01em;

      /* update / white 100% */

      color: #ffffff;
   }
   padding: 60px 0px 80px 0px;
   background: linear-gradient(138.05deg, #9796f0 0%, #fbc7d4 97.55%);
   border-radius: 70px;
}
.possibilities {
   .buttn {
      cursor: pointer;
      margin: 0px 0px 30px 0px;
      p {
         margin: 10px 0px 0px 0px;
         font-weight: 400;
         font-size: 20px;
         line-height: 160%;
         /* or 32px */

         /* update/black 100% */

         color: #1f1f25;

         opacity: 0.8;
      }
      h3 {
         font-weight: 600;
         font-size: 28px;
         line-height: 130%;
         /* or 36px */

         /* update/black 100% */

         color: #1f1f25;
      }
      padding: 36px 40px;
      background: #ffffff;
      border-radius: 30px;
   }
   .scrll {
      height: fit-content;
   }
   .animation2 {
      width: 400px;
      position: relative;
      height: 817px;
   }
   .in05 {
      position: absolute;
      top: 170px;
      left: -75px;
   }
   .in04 {
      position: absolute;
      top: 35px;
      left: -75px;
   }
   .in03 {
      position: absolute;
      top: 190px;
      left: -75px;
   }
   .in02 {
      position: absolute;
      top: 400px;
      left: -75px;
   }
   .in01 {
      position: absolute;
      top: 50px;
      left: -75px;
   }
   .buttn {
      opacity: 0.3;
      &.active {
         opacity: 1;
      }
   }
   .buttons {
      max-width: 600px;
      height: 817px;
      overflow: hidden;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
   }
   .title {
      p {
         max-width: 1000px;
         margin: 20px 0px 50px 0px;
         font-weight: 500;
         font-size: 28px;
         line-height: 140%;
         /* or 39px */

         /* update / white 100% */

         color: #ffffff;
      }
      h2 {
         font-weight: 700;
         font-size: 48px;
         line-height: 120%;
         /* identical to box height, or 58px */

         letter-spacing: 0.01em;

         /* update / white 100% */

         color: #ffffff;
      }
   }
   padding: 60px 100px 80px;
   background: linear-gradient(146.84deg, #92cf97 0.01%, #6f9d72 90.48%);
   border-radius: 70px;
}

.control {
   .ccscrll {
      height: fit-content;
   }
   .ccin05 {
      position: absolute;
      top: 60px;
      left: -75px;
   }
   .ccin04 {
      position: absolute;
      top: 110px;
      left: -75px;
   }
   .ccin03 {
      position: absolute;
      top: 155px;
      left: -75px;
   }
   .ccin02 {
      position: absolute;
      top: 400px;
      left: -75px;
   }
   .ccin01 {
      position: absolute;
      top: 90px;
      left: -75px;
   }
   .cc-animation2 {
      position: relative;
   }
   .buttn2 {
      opacity: 0.3;
      &.active {
         opacity: 1;
      }
      cursor: pointer;
      margin: 0px 0px 30px 0px;
      p {
         margin: 10px 0px 0px 0px;
         font-weight: 400;
         font-size: 20px;
         line-height: 160%;
         /* or 32px */

         /* update/black 100% */

         color: #1f1f25;

         opacity: 0.8;
      }
      h3 {
         font-weight: 600;
         font-size: 28px;
         line-height: 130%;
         /* or 36px */

         /* update/black 100% */

         color: #1f1f25;
      }
      padding: 36px 40px;
      background: #ffffff;
      border-radius: 30px;
   }

   .ccin02 {
      top: 500px;
      left: -66px;
   }

   padding: 60px 0px 80px 0px;
   background: linear-gradient(135.9deg, #606c88 3.34%, #3f4c6b 97.78%);
   border-radius: 70px;
}
